/* Модальное окно*/

.popupEntrance {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.popupEntrance.isOpenPopup .popupEntrance__content {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.popupEntrance__body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.popupEntrance__content {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  max-width: 370px;
  padding: 20px;

  max-height: 560px;

  background-color: #f3fbf6;
  text-align: center;

  transition: 0.5s ease 0s;
  transform: translate(0px, -100%);
  opacity: 0;
  visibility: 0;
}

.popupEntrance__form {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 14px;
  row-gap: 16px;
  justify-items: end;
  padding-left: 15px;
  margin-bottom: 15px;
}

.popupEntrance__input {
  width: 100%;
  max-width: 527px;
  height: 64px;
  display: block;
  padding-left: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
}

.popupEntrance__input:hover {
  box-shadow: inset 0 0 0 1px #13ab4e;
}

.popupEntrance__input:focus {
  outline: 0;
  box-shadow: inset 0 0 0 1px #13ab4e;
}

.popupEntrance__button {
  margin-bottom: 15px;
}

.popupEntrance__title {
  margin: auto 10px;
  font-size: 20px;
}

.popupEntrance__text {
  font-size: 12px;
  margin: 0;
}

.popupEntrance__contacts {
  display: grid;
  grid-template-rows: auto;
  gap: 9px;
  font-style: normal;
}
.popupEntrance__titleAddress,
.popupEntrance__titlePhone,
.popupEntrance__titleEmail {
  font-size: 14px;
}

.popupEntrance__linkAddress,
.popupEntrance__linkPhone,
.popupEntrance__linkEmail {
  font-size: 16px;
  text-decoration: none;
  color: #13ab4e;
}

.popupEntrance__linkAddress:hover,
.popupEntrance__linkPhone:hover,
.popupEntrance__linkEmail:hover {
  text-decoration: underline;
}

.isLockSkroll {
  overflow: hidden;
}

.isOpenPopup {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
